{% extends "base.html" %}
{%block title %} Register {% endblock %}

{%block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading ">
                  <h4><i>Registration Form</i></h4>
                </div>
                {% if error_msg %}
                  <div class="alert alert-danger alert-dismissable">
                     <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                     <strong>Error:</strong> {{error_msg}}
                  </div>
                {% endif %}

                <div class="panel-body">


                    <form class="form-horizontal" role="form" action="" method="post">
                        {% csrf_token %}
                        {% include 'form.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-1  col-sm-10">
                                <button type="submit" class="btn btn-primary">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    Already have an account?
                    <a href="{% url 'login' %}">
                          <span class="glyphicon glyphicon-film" aria-hidden="true"></span>&nbsp;login
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>



{% endblock %}
